@media screen and(max-width: 320px) {
  .nav-name{
    display: none;
  }
}

@media screen and (min-width: 576px){
  .nav-list{
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body{
    margin: 0;
  }
  .section{
    padding: 7rem 0 2rem;
  }
  .nav{
    height: calc(var($header-height) * 1.5rem);
    &-img{
      display: none;
    }
    &-icon{
      display: none;
    }
    &-name{
      font-size: $font-medium;
    }
    &-link:hover{
      color: $text-color;
    }
  }
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  width: 4rem;
  height: 4rem;
  background: $fist-color;
  border-radius: 50%;
}

@media screen and(min-width: 1024px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
}
